table, th, td {
	border: 1px solid black;
}
table {
	border-collapse: collapse;
}
form input {
  display: block; }
form textarea {
  display: block;
  height: 100px;
  width: 400px; }
form input[type=submit] {
  margin-top: 1em; }

/*# sourceMappingURL=stylesheet.css.map */
