<!DOCTYPE html>
<html>
<head>
    <title>Web ticket system</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
</head>
<body>
    <header>
        <h1>Web ticket system</h1>
        <a href="/test">back to test</a>
        <br>
        <a href="/view-tickets">view tickets</a>
    </header>
        {% block test %}
        {% endblock %}
    <footer>
        <h1>Footer</h1>
    </footer>
</body>
</html>
