{% extends "base.html" %}
{% block test %}
<p>{{ ticket.id }}</p>
<p>{{ ticket.date }}</p>
<p>{{ ticket.name }}</p>
<p>{{ ticket.email }}</p>
<p>{{ ticket.subject }}</p>
<p>{{ ticket.details }}</p>
{% endblock %}