{% extends "base.html" %}
{% block test %}
	<table>
		<thead>
			<tr>
				<td>id</td>
				<td>date</td>
				<td>name</td>
				<td>email</td>
				<td>subject</td>
				<td>details</td>
			</tr>
		</thead>
		{% for ticket in tickets %}
			<tr>
				<td><a href="/ticket/{{ ticket.id }}">{{ ticket.id }}</a></td>
				<td>{{ ticket.date }}</td>
				<td>{{ ticket.name }}</td>
				<td>{{ ticket.email }}</td>
				<td>{{ ticket.subject }}</td>
				<td>{{ ticket.details }}</td>
				<td><a href="/ticket/{{ ticket.id }}/delete">delete</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
