<form action="submit" id="web-ticket-form" method="POST">
    Name:
    <input type="text" name="name">
    Email:
    <input type="email" name="email">
    Subject:
    <input type="text" name="subject">
    Details:
    <textarea name="details">Enter text here...</textarea>
    <input type="submit" name="submit" value="Submit Ticket">
</form>
